body {
  background-color: #989898;
  color: #FF6633;
  text-shadow: 1px 1px 0px #000000;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #989898;
  background-image: url('../images/salmon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: lighten;
  height: 300px;
}
header h1 {
  padding-top: 140px
}

.main-navigation li {
  display: inline;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.main-navigation {
  text-align: center;
}

.nav-list a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.hero {
  background-image: url('../images/cutter.jpeg');
  opacity: 0.5;
}

h1 {
  text-align: center;
  font-family:  Helvetica, sans-serif;
}

h3 {
  text-align: center;
}

p {
  font-family:  Helvetica, sans-serif;
  color: #000000;
}

ul, ol {
  font-family: Georgia, serif;
  color: #003cb3;
}

table {
  background-color: #b8b894;
}

li {
  list-style: none;
}

section {
  padding-top: 25px;
  padding-bottom: 25px;
}
